extends layout

block content
    .mktitle Online Shopping
    .mkdiv
        each store in stores
            .card.mb-4
                .card-header.h4.text-right #{store.name}
                .card-body
                    a(href='/products/'+store.providerId)
                        img.w-100(src='/images/'+store.mark)
    
    script.
        localStorage.removeItem('cart')
        localStorage.setItem('customerId','#{customerId}')